---
import FormattedDate from "../FormattedDate.astro";
import { Icon } from "astro-icon/components";

const { post } = Astro.props;
---

<article class="group relative">
	<div
		class="absolute z-0 -inset-x-4 -inset-y-4 sm:rounded-lg opacity-0 scale-85 group-hover:scale-100 group-hover:opacity-100 bg-slate-50 z-0 transition dark:bg-slate-800"
	>
	</div>

	<div class="relative py-4 rounded-lg flex-1">
		<h2 class="text-lg sm:text-xl font-semibold my-1">
			<a href={`/blog/${post.id}`}>
				<div class="absolute inset-0"></div>
				<span>{post.data.title}</span>
			</a>
		</h2>
		<time class="text-sm font-mono">
			<FormattedDate date={post.data.pubDate} />
		</time>
		<p class="mt-4 text-slate-700 dark:text-slate-300">
			{post.data.description}
		</p>
		<div
			class="flex items-center space-x-1 text-sm font-medium mt-4 group-hover:text-primary-700 dark:group-hover:text-primary-300"
		>
			<span>Read article</span>
			<Icon name="heroicons:chevron-right-16-solid" />
		</div>
	</div>
</article>
