---
import { getCollection } from "astro:content";
import ArticleCard from "./ArticleCard.astro";
const featuredPosts = (
	await getCollection("blog", ({ data }) => {
		return data.featured === true;
	})
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<div class="space-y-10">
	{
		featuredPosts.map((post, index) => (
			<div class="">
				<ArticleCard post={post} />
			</div>
		))
	}
</div>
