---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedArticles from "../components/articles/FeaturedArticles.astro";
import ArticleCard from "../components/articles/ArticleCard.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<header class="max-w-2xl mx-auto py-30 text-center">
			<h1 class="text-4xl md:text-6xl font-black tracking-tight mb-8">
				Page not found
			</h1>

			<p>
				Go back to the <a href="/" class="text-primary-500 underline">home page</a>.
			</p>
		</header>
	</div>
</BaseLayout>
