---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="You're subscribed"
	description="Thank you for subscribing to my newsletter."
>
	<div class="mx-auto lg:max-w-4xl py-30">
		<h2 class="text-4xl font-bold tracking-tight mb-10">
			Thank you, mortal.
		</h2>
		<p class="max-w-2xl leading-8">
			You've just joined an elite circle of night coders, fang fans, and
			supernatural devs who crave bleeding-edge updates, moonlit musings,
			and the occasional cursed meme. Expect dispatches from the crypt a
			few times each moon cycle—always after dark, always full of flavor
			(and never garlic).
		</p>
	</div>
</BaseLayout>
