---
import { Icon } from "astro-icon/components";
import Social from "./Social.astro";
---

<footer
	class="max-w-2xl mx-auto pb-20 mt-10 pt-20 border-t border-slate-300 dark:border-slate-600 px-4 md:px-30 text-center"
>
	<div>© 2026 Anna Szczęch. All rights reserved.</div>
	<div class="flex justify-center space-x-6 mt-8">
		<Social />
	</div>
</footer>
