---
import { Icon } from "astro-icon/components";
---

<button
	data-light-dark-toggle
	class="flex-inline items-center justify-center w-8 h-8 transition hover:text-primary-500"
	aria-label="Toggle light/dark theme"
>
	<Icon
		name="heroicons:moon-solid"
		class="hidden dark:inline-block w-5 h-5"
	/>
	<Icon name="heroicons:sun-solid" class="inline-block dark:hidden w-5 h-5" />
</button>
<script>
	function initLightDarkToggle() {
		document.querySelectorAll("[data-light-dark-toggle]").forEach((btn) => {
			btn.addEventListener("click", (e) => {
				localStorage.theme =
					localStorage.theme === "dark" ||
					(!("theme" in localStorage) &&
						window.matchMedia("(prefers-color-scheme: dark)")
							.matches)
						? "light"
						: "dark";
				window.setColorScheme();
			});
		});
	}

	// Run on Astro page transitions
	document.addEventListener("astro:page-load", () => {
		initLightDarkToggle();
	});

	// Run when the document has loaded
	document.addEventListener("DOMContentLoaded", () => {
		initLightDarkToggle();
	});

	// Immediate initialization
	initLightDarkToggle();
</script>
