---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getImage } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;

const ogImage = heroImage
	? await getImage({
			src: heroImage,
			format: "webp",
			width: 960,
			height: 480,
		})
	: null;
---

<BaseLayout
	title={title}
	description={description}
	image={ogImage ? ogImage.src : undefined}
>
	<div class="mx-auto max-w-3xl">
		<article class="mb-40">
			<div
				class="prose dark:prose-invert mx-auto prose-slate prose-a:text-primary-700 dark:prose-a:text-primary-300 max-w-none"
			>
				<header class="flex flex-col gap-y-4">
					<h1 class="text-balance text-3xl sm:text-4xl">{title}</h1>
					<time
						class="order-first text-sm font-mono inline-flex mx-auto text-stone-600 dark:text-stone-400"
					>
						<FormattedDate date={pubDate} />
					</time>
				</header>
				<slot />
			</div>
		</article>
	</div>
</BaseLayout>
