---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/roboto";

const { title, description, pubDate, updatedDate, image } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<BaseHead
			title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			image={image}
		/>
	</head>
	<body
		class="flex h-full bg-slate-50 text-slate-900 dark:bg-black dark:text-white"
	>
		<div class="fixed inset-0 flex justify-center sm:px-8">
			<div class="flex w-full max-w-7xl lg:px-8">
				<div
					class="w-full bg-white ring-1 ring-slate-100 dark:bg-slate-900 dark:ring-slate-300/20"
				>
				</div>
			</div>
		</div>
		<div class="relative flex w-full flex-col">
			<Header />
			<main class="flex-auto">
				<div class="sm:px-8 mt-32">
					<div class="mx-auto w-full max-w-7xl lg:px-8">
						<div class="relative px-4 sm:px-8 lg:px-12">
							<slot />
						</div>
					</div>
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>
